@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


  /* Home.css */

/* Style for the "Delete Selected" button */
.delete-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

/* Pagination styles */
.pagination {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.pagination-link {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  margin: 0 0.25rem;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  border-radius: 50%;
  /* background: #0077cc; */
}

.pagination-link.active {
  background-color: #FFF;
  color: #fff;
  border: 1px solid #0077cc;
  font-weight: bold;
}

.pagination-link.disabled {
  color: #999;
  pointer-events: none;
  cursor: not-allowed;
}


  